body {
    background-color: black;
    zoom: 60%;
}

h1 {
    color: white;
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3 {
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#thecapsman {
    position: absolute;
    top: 39%;
    left: 15%;
}

#thecapsmanmaligno {
    position: absolute;
    top: 39%;
    left: 65%;
}

#h2bem {
    position: absolute;
    font-size: 20px;
    top: 32%;
    left: 15%;
    color: white;
    width: 30%;
}

#h2mal {
    position: absolute;
    font-size: 20px;
    top: 32%;
    left: 65%;
    color: white;
    width: 30%;
}
